<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 d-flex">
            <div class="col-4 float-left flex-column">
                <div class="w-90 profile-wrapper overflow-hidden mt-2 " *ngIf="profile">
                    <div class="profile-picture mt-2">
                        <img class="w-100" src="{{profilePicture}}" alt="profile picture">
                    </div>
                    <div class="profile-content px-3">
                        <p class="mb-0">{{profile.firstName}} {{profile.lastName}}</p>
                        <p>Student</p>
                        <p>{{profile.description}}</p>
                    </div>
                    <ul class="pl-0">
                        <li><i class="far fa-id-badge pr-2"></i>{{profile.studentId}}</li>
                        <li><i class="far fa-envelope pr-2"></i>{{profile.email}}</li>
                        <li><i class="fas fa-venus-mars pr-2"></i>{{profile.gender}}</li>
                        <li><i class="far fa-calendar-alt pr-2"></i>{{profile.dob}}</li>
                        <li><i class="fas fa-map-marker-alt pr-2 pt-1 float-left"></i>
                            <p class="float-left w-90">{{profile.address}}</p>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-8 float-left flex-column">
                <div>
                    <h3 class="pt-1">Concordia University</h3>
                    <img src="../../../assets/images/university.jpg" alt="University image" class="w-100" height="365">

                    <h6 class="pt-2">About US:</h6>
                    <p>We're a next-generation university, one that reimagines the future of higher education on a
                        continual basis. Located in the vibrant and multicultural city of Montreal, Concordia is among
                        the most innovative universities in its approach
                        to experiential learning, research and online education.</p>
                </div>
            </div>

        </div>
    </div>
</div>